.navigation {
  background-color: #000;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1600px;
  }
  &__logo {
    font-size: 3rem;
    font-weight: bold;
    color: white;
  }
}
