.navigation {
  position: relative;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
  z-index: 4;
  @media screen and (max-width: 1600px) {
    padding-left: 3rem;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1620px;
    height: 6rem;
    @media screen and (max-width: 1600px) {
      width: auto;
      height: 7rem;
    }
  }
  &__logo {
    a {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
      @media screen and (max-width: 1600px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
    svg {
      @media screen and (max-width: 1600px) {
        display: inline-block;
        width: 18rem;
      }
      @media screen and (max-width: 576px) {
        width: 12rem;
      }
    }
  }
  &__sandwitch {
    position: absolute;
    top: 30%;
    right: 22rem;
    display: none;
    @media screen and (max-width: 1420px) {
      top: 20%;
      display: block;
    }
    @media screen and (max-width: 1200px) {
      top: 10%;
    }
  }
  &__menu {
    position: relative;
    margin-right: auto;
    margin-left: 4rem;
    z-index: 3;
    @media screen and (max-width: 1820px) {
      margin-right: auto;
      margin-left: 4rem;
    }
    @media screen and (max-width: 1420px) {
      position: fixed;
      top: 7rem;
      left: 0;
      margin-left: 0;
      width: 40rem;
      height: 100%;
      background-color: white;
      transform: translateX(-200%);
      opacity: 0;
      pointer-events: none;
      transition: all 0.6s;
      box-shadow: 0 8px 8px rgba(0, 0, 0, .2);
    }
    &.active {
      transform: translateX(0);
      opacity: 1;
      pointer-events: initial;
      z-index: 1000;
    }
  }
  &__right {
    position: absolute;
    top: 0;
    right: 0;
    width: 25.7rem;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 150%;
      transform: rotate(-29deg) translateY(4.2rem);
      background-color: $accent;
      z-index: 1;
      @media screen and (max-width: 1600px) {
        transform: rotate(-29deg) translateY(1.2rem);
      }
    }
  }
  &__login {
    position: absolute;
    top: 42%;
    right: 2rem;
    width: 15px;
    height: 20px;
    z-index: 2;
    @media screen and (max-width: 1200px) {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
