.admin-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 10rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    font-weight: bold;
    background-color: #fff;
    border-radius: 50%;
  }
  &__title {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
}
