.autocomplete {
  &__input {
    position: relative;
    height: 4rem;
  }
  &__selected {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
  }
  &__list {
    padding: 1rem;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  &__item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    &:hover {
      background: #f5f5f5;
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid #eee;
    }
  }
}
.selected-autocomplete {
  display: flex;
  align-items: center;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    padding: 0.6rem 1rem;
    color: white;
    background: #035073;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  &__remove {
    margin-left: 0.5rem;
    color: red;
    cursor: pointer;
  }
}