//grid
$xs: 320px;
$md: 768px;
$xl: 1150px;
//accent colors
$accent-dark: #68273D;
$accent: #363C42;
$accent-light: #e7bfbf;
$text-color: black;
$text-light: #eee;
$contrast: #c1bb63;
$active: #044a04;