.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 3.5rem;
  font-size: 1.6rem;
  color: $text-light;
  background: $accent;
  border: 1px solid transparent;
  transition: all .4s;
  cursor: pointer;
  &:hover {
    transform: scale(0.9);
  }
  &.btn--success {
    background: rgb(0, 75, 0);
  }
  &.btn--danger {
    background: rgb(138, 0, 0);
  }
}