.notify {
  position: fixed;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 3rem;
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  z-index: 1000;
  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: red;
    cursor: pointer;
  }
}