.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  z-index: 10000;
  .cart-icon {
    position: relative;
    margin-left: auto;
    margin-right: 3rem;
    cursor: pointer;
    span {
      position: absolute;
      top: -1rem;
      right: -1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
      border-radius: 50%;
      background: #fff;
    }
  }
}
