.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #eee;
  &__content {
    padding: 3rem;
    background: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  }
}