.admin {
  &__widgets {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2rem;
    &-item {
      margin: 0 2rem;
      flex-basis: calc(25% - 4rem);
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__column {
    width: 49%;
  }
}
