.admin-layout {
  &__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    transition: all .4s;
    &.admin-layout__sidebar--hidden {
      transform: translateX(-100%);
    }
  }
  &__body {
    padding-left: 20%;
    transition: all .4s;
    &.admin-layout__body--full {
      padding-left: 0;
    }
  }
  &__main {
    padding: 3rem;
  }
  &__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
    grid-gap: 3rem;
  }
  &__item {
    flex: 0 0 20rem;
  }
}