.cart {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10000;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
  &.active {
    opacity: 1;
    pointer-events: initial;
    .cart__body {
      transform: translateY(0);
    }
  }
  &__body {
    padding: 3rem;
    width: 60%;
    background: #fff;
    border-radius: 1rem;
    transition: all .6s;
    transition-delay: 1s;
    transform: translateY(-100rem);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    svg {
      fill: #aaa;
      cursor: pointer;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      svg {
        fill: #000;
      }
    }
    th,
    td {
      padding: 10px 0;
      border-bottom: 1px solid #e5e5e5;
      text-align: center;
      &:first-child,
      &:nth-of-type(2) {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
    svg {
      fill: red;
    }
  }
  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }
  &__actions {
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 1rem;
    }
  }
}