.single-product {
  padding: 8rem 0;
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__gallery {
    flex: 0 0 34rem;
  }
  &__content {
    padding: 4rem;
    flex: 1;
  }
  .title {
    font-size: 3rem;
    margin-bottom: 1.6rem;
  }
  &__text {
    margin-bottom: 8rem;
  }
  &__category {
    margin-bottom: 8rem;
    padding: 3rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  &__add-to-cart {
    display: flex;
    align-items: center;
    .quantity {
      position: relative;
      margin: 0 2rem;
      input[type="number"] {
        position: relative;
        height: 3.5rem;
        text-align: center;
        z-index: 1;
      }
      &__btn {
        position: absolute;
        top: 0;
        width: 4rem;
        height: 100%;
        z-index: 2;
        cursor: pointer;
      }
      &__dec {
        left: 0;
      }
      &__inc {
        right: 0;
      }
    }
  }
  &__price {
    font-size: 3rem;
    font-weight: bold;
  }
}